*{transition: 0.5s;}
body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-repeat: repeat;
    transition: 1s;
}

#navBar{
    background-color: #200a21;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    z-index: 1;
    opacity: 0.7;
}

a{
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: black 3px solid;
    border-radius: 4rem;
    background-color:  rgb(161, 31, 161);
    font-size: 40px;
    color: rgb(229, 218, 229);
    opacity: 1;
}


#bg1{
    background-color: #200a21;
    height:30vh;
    width: 10vw;
    color: white;
    position: absolute;
    top:9vh;
    right: 0;
    z-index: -1;
}

p,h1{
    color: lightblue;
    z-index: 1;
}

#moneyExpendition{
    background-color: #ffffff;
    color: red;
    border: solid 1px black;
    border-radius:40px 40px 40px 40px;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 18vw;
}

#rupees{
    color: black;
    font-size: 5rem;
    position: absolute;
    top: 14vh;
    left: 41vw;
}
#week{
    color: lightblue;
    font-size: 3rem;
    position: absolute;
    top: 22vh;
    left: 63vw;
    opacity: 0.5;
}

.centered{
    display: flex;
    position: absolute;
    left: 40%;
    justify-content: center;
    height: 10vh;
    width: 10vw;
    color: white;
}
.centered-lb{
    display: flex;
    position: absolute;
    top: 40vh;
    left: 40%;
    justify-content: center;
    height: 30vh;
    width: 40vw;
    color: white;
}
#expenseInput{
    position: absolute;
    top: 80vh;
    left: 42vw;
    font-size: 1.5rem;
}
#addExpenseButton {
    background-color: purple;
    border-radius: 4rem;
    color: #FFFFFF;
    cursor: pointer;
    padding: .5rem .8rem;
    font-size: 2rem;
    text-align: center;
    width: auto;
    position: absolute;
    top: 80vh;
    left: 25vw;
    height : auto;
}

button:hover {
    background-image: linear-gradient(90deg, #ff00bf 0%, #ff00d4 45%,hsl(0, 0%, 4%) 80%);
    scale: 1.1;

  }

#removeExpenseButton {
    background-color: purple;
    border-radius: 4rem;
    color: #FFFFFF;
    cursor: pointer;
    padding: .5rem .8rem;
    font-size: 2rem;
    text-align: center;
    width: auto;
    position: absolute;
    top: 80vh;
    height: auto;
    left: 63vw;
}
#removeExpenseButton:hover {
    background-image: linear-gradient(90deg, #ff00bf 0%, #ff00d4 45%, hwb(0 0% 100%) 80%);
     animation: slidebg 5s linear infinite; 
  }

#Time{
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 80vh;
}
#TimeTable{
    background-color: #ffffff;
    color: gold;
    border: solid 1px black;
    border-radius:40px 40px 40px 40px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 15vw;
}

#timeExpendition{
    background-color: #ffffff;
    color: red;
    border: solid 1px black;
    border-radius:40px 40px 40px 40px;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 18vw;
}

#timeInput{
    position: absolute;
    top: 60vh;
    left: 42vw;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    border: #200a21;
}

#addTimeButton{
    background-color: purple;
    border-radius: 4rem;
    color: #FFFFFF;
    cursor: pointer;
    padding: .5rem .8rem;
    font-size: 2rem;
    text-align: center;
    width: auto;
    position: absolute;
    top: 70vh;
    left: 46.5vw;
}

#Leaderboard{
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 80vh;
}
#leaderboardTable{
    background-color: #ffffff;
    color: gold;
    border: solid 1px black;
    border-radius:40px 40px 40px 40px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 15vw;
}
#profilePoints{
    position: fixed;
    top: 80vh;
    left: 80vw;
    background-color: #ffffff;
    color: gold;
    border: solid 1px black;
    border-radius:40px 40px 40px 40px;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 15vw;
}

.profilePointsText{
    position: fixed;
    top: 70vh;
    left: 80vw;
    color: gold;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 15vw;
}

#profilePoints{
    background-color: #ffffff;
    color: gold;
    border: solid 1px black;
    border-radius:40px 40px 40px 40px;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 2.5rem;
    width: 15vw;
}


#Profile{
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 80vh;
}


footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

